BeautifulSoup==3.2.1
beautifulsoup4==4.6.0
bs4==0.0.1
certifi==2022.12.7
chardet==3.0.4
get==0.0.0
idna==2.6
Jinja2==2.10
jmespath==0.9.3
MarkupSafe==1.0
numpy==1.13.3
pandas==0.21.0
post==0.0.0
public==0.0.46
pypiwin32==219
python-dateutil==2.6.1
pytz==2017.3
PyYAML==3.12
query-string==0.0.0
request==0.0.0
requests==2.18.4
setupfiles==0.0.50
six==1.11.0
template==0.4.2
toml==0.9.3
urllib3==1.22
gunicorn==19.7.1
win10toast==0.8
virtualenv==15.1.0
dj-database-url==0.4.2
django==1.11.7